/*
GLOBALES===============================================*/

body {
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;

}
/*
MENU===================================================*/

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}
    /*=================================
    SLIDER DE IMAGENES================*/

.carousel-inner{
    max-height: 39rem;
}    
/*=================================
 MEDIA QUIERE PANTALLA SM================*/
@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
}

/*=================================
SECCION NUESTRO EQUIPO================*/